################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/1. Host/Weather.Api/bin/Debug/netcoreapp2.0
